.calc{
    margin:10px;
    padding: 20px;
    height:250px;
    background-color: #00FF33;
}
.results{
    margin-left: 50px;
    padding:10px;
    height: 120px;
    background-color: #00FFFF;
}
.chart{
    margin-left: 50px;
    margin-right: 50px;
    padding:10px;
    height:500px;
    width: 50%;
    background-color: #FFDAB9;
    float: left;
    z-index: 0;
}
.legend{
    display: inline-block;
    background: springgreen;
    color: white;
    margin-right: 5px;
    padding: 20px;
    float: left;
    z-index: 1;
}
.button{
    padding:5px;
}